<div class="form-wrapper">
    <%= simple_form_for(recipe) do |form| %>
      <%= form.input :title %>
      <%= form.input :ingredients, as: :bootsy, editor_options: { image: false }, input_html: { rows: 10, cols: 80 } %>
      <%= form.input :directions, as: :bootsy, editor_options: { image: false }, input_html: { rows: 10, cols: 80 } %>
      <%= form.input :image, as: :file %>
      <%= form.button :submit %>
    <% end %>
</div>
