<div class="card" style="width: 44rem;">
    <div class="card-block">
      <h4 class="card-title">New Recipe Entry</h4>
      <p class="card-text">
        <%= simple_form_for [:user, @recipe] do |form| %>
        <div class="form-group">
          <%= form.input :title, label: false, placeholder: "Recipe Title", input_html: { size: 81 } %></br>
          <%= form.input :ingredients, as: :bootsy, label: false, editor_options: { image: false }, input_html: { rows: 10, cols: 80 }, placeholder: "List Ingredients Here" %>
          <%= form.input :directions, as: :bootsy, label: false, editor_options: { image: false }, input_html: { rows: 10, cols: 80 }, placeholder: "List Directions Here" %>
          <%= form.input :image, as: :file %></br>
          <div class="row">
            <%= form.button :submit, class: "btn btn-primary" %>
            <%= link_to "Cancel", user_recipes_path , class: "btn" %>
          </div>
        </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
