<p id="notice"><%= notice %></p>

<h1 class="container">My Recipes</h1></br>

<div class="container-fluid">
<div id="recipe" class="transitions-enabled centered clearfix masonry">
  <% @recipes.each do |recipe| %>
      <div class="box card" style="width: 300px;">
        <%= link_to (image_tag recipe.image.url(:thumb)), recipe, class: "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title"><%= recipe.title %></h4>
          <p class="card-text"><%= link_to 'Edit', edit_recipe_path(recipe) %> | <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>

  <% end %>
</div>
</div>
