<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8">
        <div class="card">
          <div class="card-block">

            <h2 class="card-title text-center">Log in</h2></br>

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="form-group">
                  <%= f.input :email, required: false, label: false, placeholder: "Email", autofocus: true, input_html: { class: 'form-control' } %>
                  </br>
                  <%= f.input :password, required: false, label: false, placeholder: "Password", input_html: { class: 'form-control' } %>
                 </br>
                  <%= f.input :remember_me, class: "form-check", as: :boolean if devise_mapping.rememberable? %>
                  </br>
                  <%= f.button :submit, "Log in", class: "btn-lg btn-info btn-block" %>

              <% end %>
              </br>
              <div class="text-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
