<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? %>
    <%= link_to (image_tag("RB.svg", :alt => "RecipeBox Logo", width: 40, height: 40, class: "logo")), user_recipes_path(current_user.user_name) %>
    <%= link_to "RecipeBox", user_recipes_path(current_user.user_name), class: "navbar-brand" %>
  <% else %>
    <%= link_to (image_tag("RB.svg", :alt => "RecipeBox Logo", width: 40, height: 40, class: "logo")), root_path %>
    <%= link_to "RecipeBox", root_path, class: "navbar-brand" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Profile", profile_path(current_user.user_name), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <span class="navbar-text">Welcome, <%= current_user.first_name %>!</span>
      <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
  </div>
  </div>
</nav>
