<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= typekit 'gam7yrh' %>
  </head>

  <body data-turbolinks='false'>

    <%= render "layouts/navbar" %>

    <% if flash[:notice] %>
      <div class="container" id="alerts">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg %>
              <% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
